/*.header-container{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}*/
.nav-item{
    list-style: none;
}
.card{
    width: 30%;
    margin: 0 auto;
    border: 1px solid #e5e5e5;
    padding: 35px;
	border-radius: 10px;
}
.card-body{
    width: 100%;
    margin: 0 auto;
}
label{
	display: block;
}
.title{
    font-size: 27px;
    text-transform: uppercase;
    margin: 20px 0;
}
.form{
	display: block;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
}
.form-check{
    text-align: left;
    display: flex;
    align-items: center;
}
.form-check-input{
    width: auto;
}
.form-group{
	margin-bottom: 10px;
}
.form-label{
    text-align: left;
	margin-bottom: 10px;
	font-size: 20px;
}
.form-control{
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #e5e5e5;
}
.btn-login{
	font-size: 22px;
	border: none;
	border-radius: 5px;
	background-color: #1e90ff;
	color: #fff;
	padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: .3s;
    border: 1px solid transparent;
}
.btn-login:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}
.btn-login:active{
    opacity: 0.8;
}